@{
    ViewBag.Title = "About SocialEngineer";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <p id="aboutParagraph">
        This website allows you to look up a wealth of information on a single person or a company. We use state of the art API integration to scour the internet and bring you
        up to date information on the entity you wish to learn about.
    </p>
</div>

<div class="row">
    <h2>Company Search</h2>
    <div class="col-md-8">
        <h3 id="aboutParagraph1" class="well">
            To search for a company, all you need to do is enter the url of the company. No need to enter http or https. just companyname.com will work. We will give you up to date
            information on the company in question including address, social profiles, ranking and company bio. This can be helpful if you want to learn about potential employers.
        </h3>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <h2>Individual Search</h2>
    <div class="col-md-8">
        <h3 id="aboutParagraph1" class="well">
            To search for a person, just type in their email address. We will search the internet for their socail profiles and return what we find. Sometimes, we do not find any information
            which means the info is not readily available. This could be due to their profiles being more heavily protected, such as having statuses set to private.
        </h3>
    </div>
    <div class="col-md-4"></div>
    
</div>




<style>
    #aboutParagraph {    
        text-indent: 2.0em;
    }
    #aboutParagraph1{
        text-indent: 2.0em;
        background-color: lightskyblue;
    }
</style>