@{
    ViewBag.Title = "About EntityFinder";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <p id="aboutParagraph">
        The purpose of this website is two-fold. You are able to easily enter a company website to find a wealth of information regarding it
        including location, phone numbers, number of employees, affiliate websites, its purpose and other things. You are also able to search
        individuals through the phone number or email finder. This can help if you would like to research someone, say, if you were hiring them
        and wanted to find their Linkedin easily as well as other social media sites. Or, you can use it to search yourself to find which websites
        have information on you, and, later on, we will have the option to mass delete yourself from some or all of these sites so you can feel safe
        regarding your online presence.
    </p>
</div>

<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=amazonhomepage_2017&f=ifr&linkID=adacadd1694e33e9ba146922947f0ae8&t=msmith1218-20&tracking_id=msmith1218-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>


<h4>Company Search</h4>
<h4>Individual Search</h4>


<style>
    #aboutParagraph {    
        text-indent: 2.0em;
    }
</style>